<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <form [formGroup]="rForm" (ngSubmit)="addOverview(rForm.value)">
        <br /><br />
          <div class="card">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="input-group input-group-lg">
                  <input type="text" formControlName="title" class="form-control" placeholder="Title" aria-describedby="sizing-addon1">
                </div>
              </li>
              <li class="list-group-item">
                <div class="input-group">
                  <textarea type="text" class="form-control" formControlName="description" placeholder="Description" rows="4" aria-describedby="sizing-addon2"></textarea>
                </div>
              </li>
              <li class="list-group-item">
                <input
                  *ngIf="!this.itineraryService.editMode()"
                  type="submit"
                  class="button expanded"
                  value="Add Itinerary"
                  [disabled]="!rForm.valid">

                <input
                *ngIf="this.itineraryService.editMode()"
                name="searchbox"
                type="submit"
                class="button expanded"
                value="Save Itinerary"
                [disabled]="!rForm.valid">
              </li>
            </ul>
          </div>
    </form>
  </div>
    <div class="col-md-12">
      <ul class="nav nav-tabs">
        <li *ngFor="let dp of itinerary" class="nav-item">
          <a (click)="pushToDayPlanView(dp)" class="nav-link">{{dp.day + 1}}</a>
        </li>
      </ul>
    </div>
    <div class="col-md-12">
      <ul class="nav nav-tabs">
        <li>
          <button class="btn btn-link " (click)="addDay()" [disabled]="disableAddDay">
          Add Day
          </button>
          <button class="btn btn-link" (click)="remDay()"[disabled]="disableRemoveDay">
          Remove Day
        </button>
        <button class="btn btn-link" (click)="triggerPlot()">Plot Your Route!</button>
        <!-- @Wayne okay its working now -->
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-12">
      <app-planner-dayplan
      [dayPlan]="dayPlanView"
      [disableAddDay]="disableAddDay"
      [disableRemoveDay]="disableRemoveDay"
      (addDayUpdate)="addDay($event)"
      (remDayUpdate)="remDay($event)"
      ></app-planner-dayplan>
  </div>
</div>
