.nav-button{
    float:right;
    line-height:34px;
}

.list-group-item
{
  margin: -10px;
}
.title  {
  text-transform: capitalize;
}

 .button{
   width: 100%;
   text-align: center;
   font-family: 'Poiret One', cursive;
   font-weight: bold;
 }

 input{
   border: 0px;
   color: black;
 }

.container{
  background-color: #333;
  border-style: none;
  border-radius: 5px;
}
.form-control {
    border: 0;
    text-align: center;
    font-family: 'Cousine', monospace;
    font-weight: bold;
}

.nav{
  background-color: none;

  color: white;
  width:100%;

}


.btn-link{
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  color: white;
}

.disabled{

}
