<BR />
<div class= "container-fluid">
  <div class="row">
    <div class="col-md-8">
      <!-- <app-planner-map></app-planner-map> -->
      <app-planner-map (popUpEmitter)="handlePopUp($event)"></app-planner-map>
    </div>
    <div class="col-md-4">
      <app-planner-list></app-planner-list>
    </div>
</div>

<div class="modal-dialog" role="document">
  <div class="modal-content">
    <modal #infoModal class="modal hide left fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

		 <!-- <div class="modal-dialog" role="document">

			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Left Sidebar</h4>
				</div>

				<div class="modal-body">
					<app-planner-info></app-planner-info>
				</div>

      </div>

    </div> -->
    <app-planner-info (closePopUpEmitter)="closePopUp()"></app-planner-info>
    </modal><!-- modal -->
  </div>
</div>
