<div class="card">
  <!-- <img width="400" src="https://maps.googleapis.com/maps/api/streetview?size=400x300&location={{latitude}},{{longitude}}&fov=90&heading=235&pitch=10&key=AIzaSyCplejDBYJ13CLHfA7jLx-E-xw5sTuzHwk"> -->
  <div class="row">
    <div class="col-sm-4">
      <img *ngIf="photoURL" class="card-img-left" [src]="photoURL" height="300" width="300">
    </div>
    <div class="col-sm-8">
      <div class="card-block">
        <div *ngIf="destinationToView">
          <div class="row">
            <h4 class="card-title col-sm-8">{{destinationToView.name}}</h4>
            <h6 class="col-sm-4 pull-right">{{destinationToView.rating}} Stars</h6>
          </div>
          <button (click)="addToItinerary(destinationToView)" class="btn btn-primary">Add to Itinerary</button>
        </div>
        <div *ngIf="!destinationToView">
          <h4>Select A Destination!</h4>
        </div>
      </div>
    </div>
  </div>
</div>