a{
  font-family: 'Pacifico', cursive;
  font-weight: bold;
}

h1{
  font-family: 'Pacifico', cursive;
}
.icon-bar {
  color: black;
  border-color: black;
  background-color: black;
}
 .navbar-brand{
max-height: 60px;
max-width: 60px;
 }

.nav-item{

}

.navbar{
  color: white;
}
