<!-- <div class="container-fluid">
  <div class="progress">
    <div 
      class="progress-bar progress-bar-striped progress-bar-animated" 
      role="progressbar" 
      style="width: 100%;" 
      attr.aria-valuenow="{{loadPercent}}" 
      aria-valuemin="0" 
      aria-valuemax="100">{{loadPercent}}%</div>
  </div>
</div> -->

<div *ngIf="lastUploaded && lastViewed && topRated" class="container-fluid">
  <div class="card-deck">
    <div *ngIf="lastViewed" class="card p-2">
      <div class="card-block">
        <h5>Last Viewed</h5>
        <hr/>
        <div class="d-flex justify-content-between">
          <h4 class="card-title">{{lastViewed.title}} </h4>
          <small>by <em>{{lastViewed.authorName}}</em></small>
        </div>
        <div class="card-body">
          <p class="card-text">{{lastViewed.description}}</p>
        </div>
      </div>
    </div>

    <div *ngIf="lastUploaded" class="card p-2" (click)="pushToView(lastUploaded)">
      <div class="card-block">
        <h5>Last Posted</h5>
        <hr/>
        <div class="d-flex justify-content-between">
          <h4 class="card-title">{{lastUploaded.title}} </h4>
          <small>by <em>{{lastUploaded.authorName}}</em></small>
        </div>
        <div class="card-body">
          <p class="card-text">{{lastUploaded.description}}</p>
        </div>
      </div>
    </div>
    <div 
      *ngIf="topRated" 
      class="card p-2"
      (click)="pushToView(topRated)">
      <div class="card-block">
        <h5>Top Rated</h5>
        <hr/>
        <div class="d-flex justify-content-between">
          <h4 class="card-title">{{topRated.title}} </h4>
          <small>by <em>{{topRated.authorName}}</em></small>
        </div>
        <div class="card-body">
          <p class="card-text">{{topRated.description}}</p>
          <p class="card-text"><em>Average rating of {{topRated.rating}}/5 stars with {{topRated.views}} review(s)</em></p>
        </div>
      </div>
    </div>
  </div>
</div>
