<!--Auth service injection-->
<div class="container-fluid ">
  <div *ngIf="!(authService.userObs | async)" class="text-center">
    <h1 class="display-1">Plan. Travel. Share.</h1>
    <p>Click on the top right icon to Login!</p>
  </div>

  <div *ngIf="(authService.userObs | async)" class="text-center">
  <h1 class="display-4">Start Your Journey</h1>
    <app-home-start></app-home-start>
  </div>
</div>
<footer>
  <img class="pic1" src="https://previews.123rf.com/images/ohmega1982/ohmega19821307/ohmega1982130700089/21200443-Cityscape-Vector-Illustration-Line-Sketched-Up-Stock-Vector-city-sketch-building.jpg"/>
</footer>
