<!--Auth service injection-->
<div *ngIf="!(authService.userObs | async)" class="text-center">

  <h1 class="display-1">Plan. Travel. Share.</h1>
  <p>Sign in to get started on your holiday itinerary!</p>

</div>
<!-- end of auth service injection-->

<!-- styling ommited , will rectify upon discussion-->
<div *ngIf="(authService.userObs | async)" class="text-center">
  <h1>Welcome!</h1>
  <p>Click on the planner tab to start planning an itinerary,
  the itineraries tab to view your plans
  or the community tab to share your itineraries or view what others have done!</p>
</div>

<!-- <div class=fullscreen-bg>
  <video poster="assets\img\load2.jpg" id="bgvid" playsinline autoplay muted loop>
    <source src="assets\video\time.webm" type="video/webm">
    <source src="assets\video\time.mp4" type="video/mp4">
  </video> -->
