<div *ngIf="itineraryToView">
  <div class="card">
    <div class="card-header">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="card-title">{{itineraryToView.title}}</h5>
        <small class="text-muted">created by <em>{{itineraryToView.authorName}}</em></small>
      </div>
      <div class="card-body">
        <p class="card-text">{{itineraryToView.description}}</p>
      </div>
      <button *ngIf="!timeout" (click)="add(itineraryToView)"class="btn btn-sm btn-primary">Copy to my Itineraries</button>
      <button *ngIf="timeout" (click)="add(itineraryToView)"class="btn btn-sm btn-success disabled">Copied!</button>
      <ul class="nav nav-tabs card-header-tabs">
        <li *ngFor="let plan of dayplansToView, let i = index" class="nav-item">
          <a (click)="pushToView(i)" class="nav-link">{{plan.day + 1}}</a>
        </li>
      </ul>
    </div>    
    <div class="card-block">
      <ul class="list-group">
        <li *ngFor="let d of destinationsToView" class="list-group-item">
          {{d.name}}
        </li>
      </ul>
    </div>
  </div>
</div>
<div *ngIf="!itineraryToView">
  <div>
    <h3>Select an itinerary!</h3>
  </div>
</div>
