<div *ngIf="itineraries" class="list-group">
  <a 
  *ngFor="let plan of itineraries" 
  class="list-group-item list-group-item-action flex-column align-items-start"
  (click)="pushToView(plan)">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{plan.title}}</h5>
      <small *ngIf="plan.rating != 0">{{plan.rating}} Stars</small>
      <small *ngIf="plan.rating == 0">Unrated</small>
    </div>
    <p class="mb-1">{{plan.description}}</p>
    <small>{{plan.budget | currency}}</small>
  </a>
</div>
<div *ngIf="!(itineraries) || itineraries.length == 0">
  <h5>You have no itineraries</h5>
</div>