<div class="container">
  <div class="row">
    <span class="border-0 pull-centre">
        
      <div class="form-group" >
        <input placeholder="Where are you heading?" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
      </div>
        
      <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
        <app-planner-map-route></app-planner-map-route>
        <!-- <agm-marker 
        *ngFor="let place of arrOfPlaces" 
        [latitude]="place.lat" 
        [longitude]="place.lng"></agm-marker> -->
      </agm-map>

    </span>
    
  </div>

</div>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">   -->