<div class="d-flex justify-content-between">
  <p>
    <small class="text-muted">
      >> 
    </small>

    {{commentText}} -  
    
    <small class="text-muted">
      {{authorName}} 
      <em>
        {{postDate | date}}
      </em>
    </small>
  </p>
</div>
<hr/>

<!-- <button 
  *ngIf="!reply"
    class="btn btn-success btn-sm" 
    (click)="toggleReply()"
    >
    add a comment
</button>

<button 
    *ngIf="reply"
    class="btn btn-danger btn-sm" 
    (click)="toggleReply()"
    >
    Cancel
</button> -->

  <!-- reply block -->
<div *ngIf="reply">
  <div class="card card-block">
    <form [formGroup]="replyForm" (ngSubmit)="submitComment(replyForm.value, comment)">
      <div class="row">
        <label>
          <h6>Reply to {{authorName}} (3 letters min.)</h6>
          <textarea formControlName="text"></textarea>
        </label>
        <input 
          type="submit" 
          class="button expanded" 
          value="Reply"
          [disabled]="!replyForm.valid">
      </div>
    </form>
  </div>
</div>