<div>
  <div>
    <blockquote *ngIf="originalText" class="blockquote">
      <div class="d-flex justify-content-between">
        <p class="list-item-description">{{originalText}}</p>
        <small><em>{{recipientName}}</em></small>
      </div>
    </blockquote>
  </div>
  <div class="d-flex justify-content-between">
    <p class="list-item-description">{{commentText}}</p>
    <small class="text-muted"><em>{{authorName}}</em> on {{postDate | date}}</small>
  </div>
</div>

<button 
    *ngIf="!reply"
      class="btn btn-success btn-sm" 
      (click)="toggleReply()"
      >
      Reply
  </button>

  <button 
      *ngIf="reply"
      class="btn btn-danger btn-sm" 
      (click)="toggleReply()"
      >
      Cancel
  </button>

  <!-- reply block -->
<div *ngIf="reply">
  <div class="card card-block">
    <form [formGroup]="replyForm" (ngSubmit)="submitComment(replyForm.value, comment)">
      <div class="row">
        <label>
          <h6>Reply to {{authorName}} (3 letters min.)</h6>
          <textarea formControlName="text"></textarea>
        </label>
        <input 
          type="submit" 
          class="button expanded" 
          value="Reply"
          [disabled]="!replyForm.valid">
          
      </div>
    </form>
  </div>
</div>