<div id="tile"> 
  <div class="row">
    <div class="col-md-8">
      <p class="list-item-description">{{reviewText}}</p>
    </div>
    <div class="col-md-2">
      <p><small class="text-muted">{{reviewRating}} out of 5 stars by <br><em>{{reviewAuthor}}</em></small></p>
    </div>
    <div class="col-md-2">
      <button 
        *ngIf="!reply"
        class="btn btn-success btn-sm" 
        (click)="toggleReply()"
        >
        <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
         comment
      </button>
  
      <button 
        *ngIf="reply"
        class="btn btn-danger btn-sm" 
        (click)="toggleReply()"
        >
        <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
        cancel
      </button>
    </div>
    
  </div>
  <hr/>
  <app-comm-comment *ngFor="let c of comments"[comment]="c" (commentUpdated)="submit($event)"></app-comm-comment>
</div>

<!-- reply block -->
<div class="reply-block" *ngIf="reply">
  <form [formGroup]="replyForm" (ngSubmit)="submitComment(replyForm.value, rcPair.review, rcPair.review)">
    <div class="row">
      <div class="col-md-11">
        <h6 id="review">Comment on {{reviewAuthor}}'s review (min. 3 letters)</h6>
        <textarea id="review-text-box" formControlName="text"></textarea>
      </div>
      <div class="col-md-1">
        <input 
          id="reply-button"
          type="submit" 
          class="btn btn-warning btn-sm" 
          value="Reply"
          [disabled]="!replyForm.valid">
      </div>
    </div>
  </form>
</div>