<div class="container">
   <div class="wrapper" [dragula]='"day-list"' [dragulaModel]='items'> 
    <div *ngFor="let d of items" class="card">
      <div class="card-block">
        <div class="row">
          <div class="col-sm-10">
            <h6 class="card-title">{{d.name}}</h6>
          </div>
          <div class="col-sm-2">
            <button (click)="remove(d)" class="btn btn-sm btn-danger">Remove</button>
          </div>
        </div>
      </div>
    </div>
  <div>
    <button class="btn btn-success btn-sm" (click)="addDay()">Add Day</button>
    <button class="btn btn-danger btn-sm" (click)="remDay()">Remove Day</button>
    <button (click)="plotRoute()" class="btn btn-primary btn-sm">Plot!</button>
    <button (click)="test()" class="btn btn-secondary btn-sm">Show Items!</button> 
  </div>
</div>