.card-block{
  color: black;

}

.card{
  text-align: left;
  font-family: 'Poiret One', cursive;
  color: black;
  font-weight: bold;

}

a{
  text-align: center;
  font-family: 'Poiret One', cursive;
  color: black;
  font-weight: bold;
}

button {
  text-align: center;
  font-family: 'Poiret One', cursive;
  color: black;
  font-weight: bold;
  background-color: none;

}
