/* You can add global styles to this file, and also import other style files */
 @import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
 @import "../node_modules/dragula/dist/dragula.css";

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    align-self: center;
    transform: translateX(-50%) translateY(-50%);
 background: url('//assets\img\load2.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

img{
  align-self: center;
}
