<div class="card" style="background-color: white;">

  <div class="card-header" role="tab" style="background-color: white; border-color: white;">
    <h5 class="mb-0">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#{{id}}">
        <div class="card" style="width: 20rem; background-color: white; border-color: white;">
          <img class="card-img-top" style="background-color: white; border-color: white;" align="middle" class="rounded" height="150" width="340" src="https://maps.googleapis.com/maps/api/streetview?size=400x300&location={{dest.lat}},{{dest.lng}}&fov=90&heading=235&pitch=10&key=AIzaSyCplejDBYJ13CLHfA7jLx-E-xw5sTuzHwk">
          <br />{{dest.name}}
        </div>
      </a>
    </h5>
  </div>

  <div id="{{id}}" class="collapse" role="tabpanel">
    <div class="card-block">
      <ul class="list-group list-group-flush">
        <li class="list-group-item pulL-left">{{dest.address}}</li>
        <li class="list-group-item pulL-left">{{dest.phone}}</li>
        <li class="list-group-item pulL-left">{{dest.website}}</li>
        <button (click)="remove()" class="btn btn-sm btn-danger">Remove</button>
      </ul>
    </div>
  </div>

</div>
