    <br />
<div class="container">
  <div class="col-md-4 offset-md-4">
    <div *ngIf="itinerary != null" (click)="lastPlanned()" [routerLink]="'/itineraries'" class="card align-middle" style="width: 20rem; ">
      <h2>Click me to begin.</h2>

      <div class="card-block">
        <h4 class="card-title">{{itinerary.title}}</h4>
        <p class="card-text">{{itinerary.description}}</p>
      </div>
  </div>
  </div>
</div>




  <!-- <div *ngIf="!itinerary" [routerLink]="'/planner'" class="card">
    <div class="card-block">
      <div class="card-header">
        <h5 class="card-title">Click here to get started on an itinerary!</h5>
      </div>
    </div>
  </div> -->
